Unit]
Description = My unit mem test

[Service]
RemainAfterExit=true
ExecStop=/usr/local/bin/my_mem
Type=oneshot

[Install]
WantedBy=multi-user.target

